*._a5wcmp_compiled
*._a5wcmp_manifest
*.backup
componentTypeCache
lastSelectedProfile
/__deleted.deleted/
/__Undo.undo/
/css/
/websecurity_users.dbP
/websecurity_members.dbP
/websecurity_groups.dbP
/websecurity_expired.dbP
/Default.Rules
